@import '../utils/vars.css';

.topSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - var(--spacing-large));
  padding-top: var(--spacing-normal);
}

.homename {
  line-height: 0.76;
}

.given,
.surname {
  display: block;
  vertical-align: top;
}

.surname {
  text-indent: 0.425em;
}